:root {
    --main-color: #527FD4;
    --main-bg-color: #E9F5FC;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom , #F2FBFE , #E0F1FC);
    min-height: 100vh;
}

.Roboto {
    font-family: "Roboto", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.bg-main {
    background-color: var(--main-color);
}

/* all sections start  */

.controls ul li button {
    width: 40px;
    height: 40px;
}

.display .inner {
    box-shadow: -5px 5px 20px 5px #c7ddf5b0;
}

.display .inner i {
    position: absolute;
    font-size: 6rem;
    color: var(--main-color);
    opacity: 0.8;
}

@media (max-width:767px) {
    .display .inner i {
        font-size: 4rem;
    }
}

.display .inner i.top-q {
    top: 0;
    left: 0;
    transform: translate(50%,-50%);
}

.display .inner i.bottom-q {
    bottom: 0;
    right: 0;
    transform: translate(-50%,50%);
}

.display .inner p {
    line-height: 1.6;
}

.display .inner img {
    min-width: 75px;
    min-height: 75px;
    width: 75px;
    height: 75px;
    border: 4px solid var(--main-color);
}

.generator button {
    background-color: var(--main-color);
    padding: 8px 16px;
    letter-spacing: 1.1px;
}